
:root, html, body {
  color-scheme: light;
  background: #fff !important;   
  color: #111;                    }


@media (prefers-color-scheme: dark) {
  :root, html, body {
    color-scheme: light;
    background: #fff !important;
    color: #111 !important;
  }
}


img, picture, video, canvas {
  filter: none !important;
  mix-blend-mode: normal !important;
}


main, .features2, .container_mae, .container_texto_4 {
  background: #fff;
}


.hero2 {
  background-color: #fff; 
}
